<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @System.Web.Optimization.Styles.Render("~/Content/Metro/css")
    @System.Web.Optimization.Styles.Render("~/Content/themes/base/css")


    @System.Web.Optimization.Scripts.Render("~/bundles/jquery")  
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryui")
    @System.Web.Optimization.Scripts.Render("~/bundles/modernizr")
    @System.Web.Optimization.Scripts.Render("~/bundles/Metro/js")
    
</head>
<body class="modern-ui">
    <div class="page">
        <div class="page-header">
            <div class="horizontal-menu">
            </div>
        </div>
        <div class="page-region">
            <div class="page-region-content">
                <section>
                    @RenderBody()
                </section>
            </div>
        </div>
    </div>
</body>
</html>
