@model IEnumerable<skpd.Models.vwRequest>

@{
    ViewBag.Title = "LacakPengajuan";
}

<h2>Persetujuan Pengajuan</h2>
<table class="bordered">
    <thead>
        <tr class="bg-color-blueLight">
            <th class="text-center">ID</th>
            <th class="text-center">Pengaju</th>
            <th class="text-center">Posisi</th>
            <th class="text-center ">Tujuan</th>
            <th colspan="3"></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RequestID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PositionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FromCountryName) - @Html.DisplayFor(modelItem => item.ToCountryName)
            </td>
            <td>
                <a href="@Url.Action("Approve", new { id = item.RequestID })">
                    <img alt="Setuju" src="@Url.Content("~/Metro/images/misc/checked_user.png")" title="Setuju" /> 
                </a>
            </td>
            <td>
                <a href="@Url.Action("Reject", new { id = item.RequestID })">
                    <img alt="Setuju" src="@Url.Content("~/Metro/images/misc/delete.png")" title="Tolak" /> 
                </a>
            </td>
            <td>
                <a href="@Url.Action("Details", new { id = item.RequestID })">
                    <img alt="Details" src="@Url.Content("~/Metro/images/misc/right_round.png")" title="Detail" /> 
                </a> 
            </td>
        </tr>
    }
    </tbody>
</table>
