@model skpd.Models.vwRequest
@{
    Layout = "~/Views/Shared/_LayoutEmail.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Print</title>
</head>
<body>
    @if (Model != null)
    {
    <div>
        <div style="text-align:center">
            Surat Perjalanan Dinas<br />
			No @Html.DisplayFor(model => model.RequestID)/SPD/0000/0213<br /><br /><br />
        </div>
        <table class="bordered" style="table-layout:fixed">
			<tbody>
				<tr style="height:50px;">
					<td>
						1. Nama dan jabatan</td>
					<td style="word-wrap: break-word">
                        @Html.DisplayFor(model => model.Name)
					</td>
				</tr>
				<tr style="height:50px;">
					<td>
						2. Maksud perjalanan dinas</td>
					<td style="word-wrap: break-word">
						 @Html.DisplayFor(model => model.EventName)</td>
				</tr>
				<tr style="height:50px;">
					<td>
						3. Moda transportasi
                    </td>
					<td style="word-wrap: break-word">
                        <ul style="padding-left: 0; margin-left: 0;">
						@{
        using (skpd.Models.ESKAPEDEContext db = new skpd.Models.ESKAPEDEContext())
        {
            IEnumerable<skpd.Models.RequestInTransport> x = db.RequestInTransports.Where(a => a.RequestID == Model.RequestID);
            foreach (var item in x)
            {
                                   <li style="display:inline;">
                                        @Html.DisplayFor(modelItem => item.Transport.TransportName).
                                    </li>
            }
        }
                        }
                        </ul>
                    </td>
				</tr>
				@*<tr>
					<td>
						4. a. Tempat Berangkat</td>
					<td style="word-wrap: break-word">
						 @Html.DisplayFor(model => model.Name)</td>
				</tr>*@
				<tr style="height:50px;">
					<td>
						4. Tempat Tujuan</td>
					<td style="word-wrap: break-word">
						@Html.DisplayFor(model => model.CountryName)</td>
				</tr>
				<tr style="height:50px;">
					<td>
						5. a. Lamanya perjalanan dinas</td>
					<td style="word-wrap: break-word">
						 @Html.DisplayFor(model => model.Days) Hari</td>
				</tr>
				<tr style="height:50px;">
					<td>
						&nbsp;&nbsp;&nbsp; b. Tanggal berangkat</td>
					<td style="word-wrap: break-word">
						 @Html.DisplayFor(model => model.StartDate)</td>
				</tr>
				<tr style="height:50px;">
					<td>
						&nbsp;&nbsp;&nbsp; c. Tanggal kembali</td>
					<td style="word-wrap: break-word">
						 @Html.DisplayFor(model => model.EndDate)</td>
				</tr>
				<tr style="height:50px;">
					<td>
						6. Pembebanan Anggaran</td>
					<td style="word-wrap: break-word">
						 @Html.DisplayFor(model => model.BudgetID) - @Html.DisplayFor(model => model.BudgetName)</td>
				</tr>
			</tbody>
		</table>
        <div style="text-align:right">
            Dikeluarkan di: <br />
            Pada tanggal <br />
            Pejabat yang berwenang<br /><br /><br /><br />
            _______________________<br />
            Jabatan
        </div>
    </div>
    }
    else
    {
        <div>e-SKPD Not Yet Release</div>
    }
</body>
</html>
